backend/article/__pycache__/serializers.cpython-310.pyc
backend/article/__pycache__/serializers.cpython-310.pyc
backend/article/__pycache__/viewsets.cpython-310.pyc
backend/gamog_project/__pycache__/routers.cpython-310.pyc
backend/gamog_project/__pycache__/urls.cpython-310.pyc
frontend/gamog_project/package-lock.json
